<template>
  <div>
    <Top />
    <div class="q-px-xs">
      <Write v-if="route=='writeCbt'" />
      <Set v-if="route=='setCbt'" />
      <Result v-if="route=='resultCbt'" />
    </div>

  </div>
</template>

<script>
import Top from './partials/top'
import Write from './partials/write_cbt'
import Set from './partials/set_cbt'
import Result from './partials/cbt_result'
export default {
  // name: 'ComponentName',
  components:{
    Write, Set, Result, Top
  },
  data () {
    return {}
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    route(){return this.$route.name}
  }
}
</script>
