<template>
  <div>
    <div v-for="(item, index) in data" :key="index">
      <Result :data="item" />
    </div>
  </div>
</template>

<script>
import Result from 'components/cards/test_result'
export default {
  // name: 'ComponentName',
  components:{
    Result
  },
  data () {
    return {
      data:[
        {
          img: 'statics/avatar2a.jpg',
          name: 'John Doe',
          tries: '3',
          class: 'JSS1',
          subject: 'Mathematics',
          grade:'80%'
        },
        {img: 'statics/avatar2a.jpg',
          name: 'John Doe',
          tries: '3',
          class: 'JSS1',
          subject: 'Mathematics',
          grade:'80%'
        },
        {img: 'statics/avatar2a.jpg',
          name: 'John Doe',
          tries: '3',
          class: 'JSS1',
          subject: 'Mathematics',
          grade:'80%'
        },
        {img: 'statics/avatar2a.jpg',
          name: 'John Doe',
          tries: '3',
          class: 'JSS1',
          subject: 'Mathematics',
          grade:'80%'
        }
      ],
      showing: false,
      percentage : [
        '25%',
        '50%',
        '65%',
        '70%',
        '75%',
        '80%',
        '85%',
        '90%',
        '95%',
        '100%',
      ],
    }
  }
}
</script>
