<template>
  <div class="">
    <q-card square class="my-card">
      <q-card-section class="q-py-sm text-h6 text-primary">
        Set Your Test Questions
      </q-card-section>
      <q-card-section class="q-pt-xs">
        <q-select color="orange-9" dense square outlined v-model="form.subject" :options="subject" label="Select Subject" />
        <q-select color="orange-9" dense square outlined v-model="form.classes" :options="classes" label="Select Class" />
        <q-select color="orange-9" dense square outlined v-model="form.percentage" :options="percentage" label="Select Passing Percentage" />
        <q-select color="orange-9" dense square outlined v-model="form.tries" :options="tries" label="Select Number of Tries" />
        <q-input  input-class="text-orange-9" dense square outlined type="number" v-model.number="form.duration" step="10" label="Test Duration(in Minutes)" />
      </q-card-section>
    </q-card>
    <Create/>
  </div>
</template>

<script>
import Create from 'components/cards/create_question'
export default {
  // name: 'ComponentName',
  components:{
    Create
  },
  data () {
    return {
      subject : [
        'Maths',
        'English',
        'Biology',
        'Chemistry',
        'Physics',
        'Economics',
      ],
      classes : [
        'JSS1',
        'JSS2',
        'JSS3',
        'SS1',
        'SS2',
        'SS3',
      ],
      percentage : [
        '25%',
        '50%',
        '65%',
        '70%',
        '75%',
        '80%',
        '85%',
        '90%',
        '95%',
        '100%',
      ],
      tries : [
        1,2,3,4,5,6,7,8,9
      ],
      form:{
        subject: '',
        classes: '',
        percentage: '',
        tries: '',
        duration: 60,
      }
    }
  }
}
</script>
