<template>
  <div>
    <q-toolbar class="bg-secondary text-primary q-gutter-xs">
      <q-toolbar-title>
        CBT Test
      </q-toolbar-title>
        <q-btn no-caps @click="$router.push({name: 'setCbt'})" v-if="route == 'resultCbt'" color="primary" text-color="secondary" size="sm" label="Set Test" class="q-mr-xs" />
        <q-btn no-caps @click="$router.push({name: 'resultCbt'})" v-if="route == 'setCbt'" color="primary" text-color="secondary" size="sm" label="Test Result" />
        <q-btn no-caps @click="$router.push({name: 'writeCbt'})" v-if="route == 'setCbt'" color="primary" text-color="secondary" size="sm" label="Write Result" />
      </q-toolbar>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    route(){return this.$route.name}
  }
}
</script>
