<template>
  <div>
    <q-card flat class="q-pa-sm q-my-xs">
      <div class="text-bold row">
        <div>Mathematics</div>
        <q-space />

        <div class="text-green">60 Minutes</div>
      </div>

      <div class="text-right text-bold row">
        <div>JSS1</div>
        <q-space />
        <div>You Have 2 Tries </div>
      </div>

    </q-card>

    <q-stepper
      v-model="step"
      color="primary"
      animated

    >
      <q-step
        v-for="(item, index) in testQuestion" :key="index"
        :name="index"
        :done="step > (index)"
        class="flex flex-center"
      >
        <Questioner :item="item" :index="index" class="full-width full-height"/>

        <q-stepper-navigation>
          <q-btn v-if="step != (testQuestion.length - 1)" @click="step = (index + 1)" color="primary" label="Continue" />
          <q-btn v-if="step > 0" flat @click="step = (index - 1)" color="primary" label="Back" class="q-ml-sm" />
          <q-btn v-if="step == (testQuestion.length - 1)" color="primary" label="Finish" />
        </q-stepper-navigation>
      </q-step>


    </q-stepper>
  </div>
</template>

<script>
import Questioner from 'components/cards/question'
export default {
  // name: 'ComponentName',
  components:{
    Questioner
  },
  data () {
    return {
      step: 0,
      testQuestion:[
          {
            text: 'property can have from one to four values (for the top border, right border, bottom border, and the left border',
            media:'',
            answer:[
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              },
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              }
            ]
          },
          {
            text: 'property can have from one to four values (for the top border, right border, bottom border, and the left border',
            media:'statics/uedu.jpg',
            answer:[
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              },
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              }
            ]
          },
          {
            text: 'property can have from one to four values (for the top border, right border, bottom border, and the left border',
            media:'statics/uedu.jpg',
            answer:[
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              },
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              }
            ]
          },
          {
            text: 'property can have from one to four values (for the top border, right border, bottom border, and the left border',
            media:'statics/uedu.jpg',
            answer:[
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              },
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              }
            ]
          },
        ],
    }
  }
}
</script>
