<template>
  <div>
    <q-card flat bordered class="row" square style="background:#ffe9b4;">
      <!-- <video class="col-md-6 col-sm-12 col-xs-12" width="320" height="240" controls>
        <source src="statics/Video.mp4" type="video/mp4">
      </video> -->
      <Action class="col-md-6 col-sm-12 col-xs-12" :data="learn" />
      <q-card-section class="row col-md-6 col-sm-12 col-xs-12 q-pa-sm">
        <div class="col-6 q-pa-xs">
          <q-card square flat class="full-height flex items-center q-pa-sm" style="background:;">
            <div>
              <div class="text-bold text-h6">Go at your own pace</div>
              <div class="text-grey">Enjoy lifetime access to courses on Uedu website</div>
            </div>
          </q-card>
        </div>

        <div class="col-6 q-pa-xs">
          <q-card square flat class="full-height flex items-center q-pa-sm" style="background:;">
            <div>
              <div class="text-bold text-h6">Lifetime access</div>
              <div class="text-grey">Learn on your schedule </div>
            </div>
          </q-card>
        </div>

        <div class="col-6 q-pa-xs">
          <q-card square flat class="full-height flex items-center q-pa-sm" style="background:;">
            <div>
              <div class="text-bold text-h6">Find video courses on almost any topic</div>
              <div class="text-grey">Build your library for your career and personal growth</div>
            </div>
          </q-card>
        </div>

        <div class="col-6 q-pa-xs">
          <q-card square flat class="full-height flex items-center q-pa-sm" style="background:;">
<div>
              <div class="text-bold text-h6">Learn from industry experts</div>
              <div class="text-grey">Select from top Teachers on the Internet</div>
            </div>
          </q-card>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import Action from 'components/cards/call_to_action'
export default {
  // name: 'ComponentName',
  components:{
    Action
  },
  data () {
    return {
      learn:{
        img:'statics/avatar3.jpg',
        title: 'Let’s start Learning',
        label: 'Start Learning',
        link: 'login'
      },
    }
  }
}
</script>
