<template>
  <div>
    <q-card class="my-card" square>
      <q-img
        :src="data.img"
        style="height: 300px"
      >
        <div class="absolute-full flex flex-center" style="background: rgba(0,0,0,0.8)">
          <div class="column flex-center text-center q-gutter-sm">
            <div class="text-h5 text-secondary">{{data.title}}</div>
            <div v-if="data.description" style="max-width: 350px" class="text-subtitle1 text-weight-light">{{data.description}}</div>
            <!-- <q-rating v-model="data.rating" :max="5" size="15px" /> -->
            <q-btn no-caps color="orange-6" text-color="black" :label="data.label" @click="$router.push({name: data.link})" />
          </div>

        </div>
      </q-img>
    <!-- <q-card-section>
    test card1
    </q-card-section> -->
    </q-card>

  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: ['data'],
  data () {
    return {}
  }
}
</script>
