<template>
  <div>
    <q-card class="my-card" flat bordered style="width:300px">
      <q-img
        :src="data.courseImg"
        style="height:200px"
      >
        <div class="absolute-bottom">
          <div class="text-h5 ">{{data.title}}</div>
          <div>{{data.tutorName}}</div>
          <q-rating v-model="data.rating" :max="5" size="15px" />
        </div>
      </q-img>

      <q-card-section v-if="data.expanded == false">
        <div class="text-overline text-orange-9">{{data.Subject}} {{data.class}}</div>
        <div class="text-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </div>
      </q-card-section>

      <q-card-actions>
        <q-btn flat no-caps color="dark" label="Purchase" />
        <q-btn flat color="primary" icon="ion-cart" />

        <q-space />

        <q-btn
          color="grey" round flat dense
          :icon="data.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
          @click="data.expanded = !data.expanded"
        />
      </q-card-actions>
      <q-slide-transition v-if="data.expanded == true">
        <div v-if="data.expanded == true">
          <q-separator />
          <q-card-section class="text-subitle2">
            <div class="flex text-primary text-weight-light">
                <div class="text-weight-light"></div>
                <div>Updated: {{data.description.lastUpdated}}</div>
              </div>
            <div class="text-primary text-capitalize text-bold text-subtitle1">{{data.title}}</div>
            <div class="text-bold text-orange-9 text-capitalize">{{data.Subject}} {{data.class}}</div>
            <div class="row text-primary text-bold text-caption q-gutter-x-xs">
              <div class="flex flex-center">
                <q-icon name="schedule" class="q-mr-xs"/>
                {{data.description.hours}}
              </div>
              <div class="flex flex-center">
                <q-icon name="play_circle_outline" class="q-mr-xs"/>
                {{data.description.topics}} Classes
              </div>
            </div>
            <div class="text-grey">{{ data.description.intro }}</div>

            <ul class="text-grey text-capitalize">
              <li v-for="(item, index) in data.description.topicList" :key="index">{{item}}</li>
            </ul>
          </q-card-section>
          <q-card-actions align="right" v-if="iflogin">
             <q-btn outline no-caps size="sm" color="primary" text-color="black" label="Start Course" @click="$router.push({name: 'classroom'})" />

          </q-card-actions>
        </div>
      </q-slide-transition>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['data'],
  data () {
    return {
      stars: 4,
      // expanded: false,

    }
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    route(){return this.$route.name}
  }
}
</script>
