<template>
 <div>
    <div class="row">
      <div class="row col-md-4 col-sm-6 col-xs-12 q-pa-xs " v-for="(item, index) in form.question" :key="index">
        <Questioner :item="item" :index="index" class="full-width full-height"/>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 q-pa-xs ">
        <q-card flat bordered class="bg-transparent full-height flex flex-center" style="border: dashed 2px #4b4b4b" @click="questionPop = true">
          <q-card-section class="">
            <q-icon name="add" size="100px" color="primary" />
          </q-card-section>
        </q-card>
      </div>
   </div>

   <q-dialog v-model="questionPop">
    <q-card>
      <q-card-section>
        <div class="text-h6">Add Question</div>
      </q-card-section>
      <q-card-section class="Column flex-center">
        <q-input square outlined autogrow v-model="question.text" label="Write your Question" />
        <div class="flex flex-center">
          <upload
            class="q-py-sm"
            :is_upload="uploaded.is_upload"
            :upImage="true"
            @readyFile="uploaded.ready = $event"
            @refreshFile="uploaded.ready = $event"
            @finishFile="finishFn"
          />
        </div>
      </q-card-section>
      <q-card-section >

        <div class="row flex flex-center q-pa-xs" v-for="(item, index) in answers" :key="index">
          <q-input class="col-8" v-if="item.disableA == false" dense square outlined autogrow v-model="item.val" label="Answer" />
          <div v-if="item.disableA == true" class="text-caption col-8">{{index + 1}}-{{item.val}}</div>
          <q-space />
          <q-checkbox v-model="item.valids" color="primary" :disable="item.disableA" />
           <q-btn v-if="item.disableA == false"  no-caps size="sm" color="primary" text-color="secondary" label="Done" @click="answerAdder(item)" />
           <q-btn v-if="item.disableA == true" no-caps size="sm" color="primary" text-color="secondary" label="Edit" @click="answerAdder(item)" />
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn outline size="sm" no-caps label="Add" text-color="primary" :disable="disableQ" @click="questDone" />
      </q-card-actions>
    </q-card>
   </q-dialog>

 </div>
</template>

<script>
import Questioner from './question'
import upload from 'components/common/upload'
export default {
  // name: 'ComponentName',
  components:{
    upload, Questioner
  },
  data () {
    return {
      questionPop: false,
      answer:false,
      disableQ:true,
      disableA:false,
      uploaded: {
        ready: false,
        finishFile: false,
        is_upload: false
      },
      answers:[
        {
          val : '',
          valids : false,
          disableA:false,
        }
      ],
      question:{
        text: '',
        media: 'statics/uedu.jpg',
        answer:[]
      },
      form:{
        question:[
          {
            text: 'property can have from one to four values (for the top border, right border, bottom border, and the left border',
            media:'statics/uedu.jpg',
            answer:[
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              },
              {
                val: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
                valids: false
              }
            ]
          }
        ],

      }
    }
  },
  methods: {
    // reroute() {
    //  this.$router.push({ name: "classroom" });
    // },
    finishFn(e) {
      this.$store.dispatch("auth/user");
      this.loading = false;
      this.uploaded.is_upload = false;
      this.open = false;
    },
    answerAdder(data2){
      console.log(data2.val);
      console.log(this.question.answers);
      const Q = this.question
      const answers = {
          val : '',
          valids : false,
          disableA:false,
        }

      if (data2.val) {
        (Q.answer).push(data2)
        data2.disableA = true
        this.answers.push(answers)
      }
      if (Q.answer.length >= 2) {
        this.disableQ = false
      }

    },
    questDone(){
      this.form.question.push(this.question)
      this.questionPop = false
    }
  },
}
</script>
