<template>
  <div>
    <q-card flat bordered class="column flex-center text-center" style="width:300px">

      <q-card-section>
        <q-avatar size="120px" >
          <img :src="data.img" alt="">
        </q-avatar>
        <div class="text-primary text-bold text-caption">
          {{data.name}}
        </div>
        <div class="text-primary text-caption">
          {{data.status}}
        </div>
      </q-card-section>
      <q-card-section>
       <q-rating v-model="data.rating" :max="5" size="25px" />
      </q-card-section>
      <q-card-section>
        <p class="q-mb-none"><span class="text-bold">{{data.students}}</span> Students</p>
        <p><span class="text-bold">{{data.courses}}</span> Courses</p>
      </q-card-section>
      <q-card-actions vertical align="center">
        <q-btn no-caps class="q-px-md" color="secondary" text-color="black" label="View" />
      </q-card-actions>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['data'],
  data () {
    return {}
  }
}
</script>
