<template>
  <div>
    <q-card square class="full-width full-height" >
      <q-card-section class="">
        <q-img v-if="item.media" :src="item.media" spinner-color="white" style="" >
          <div class="absolute-left text-h4 text-secondary flex items-center" style="background: rgba(0,0,0,0.8)">{{index + 1}}</div>
        </q-img>
        <div v-if="!item.media" class="text-h4 text-secondary flex flex-center" style="background: rgba(0,0,0,0.8); max-width:50px">{{index + 1}}</div>
        <div class="text-caption">{{item.text}}</div>
      </q-card-section>
      <q-card-section class="q-pa-xs">
        <q-card square flat bordered class="row bg-primary text-secondary q-px-xs text-bold">
          <q-card-section class="q-pa-xs col-md-1 col-sm-1 col-xs-1 flex flex-center text-subtitle1">S/N</q-card-section>
          <q-card-section class="q-pa-xs col-md-8 col-sm-8 col-xs-8 flex flex-center">Answers</q-card-section>
          <q-card-section class="q-pa-xs col-md-3 col-sm-3 col-xs-3 flex flex-center">
            <q-icon name="check" />
          </q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section >
        <div class="row flex flex-center q-pa-xs" v-for="(value, v_index) in item.answer" :key="v_index">
          <div class="col-1">{{v_index + 1}}</div>
          <div class="text-caption col-8">{{value.val}}</div>
          <q-space />
          <q-checkbox v-model="value.valids" color="primary" />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['item', 'index'],
  data () {
    return {}
  }
}
</script>
