<template>
  <div class="q-pb-xs">
    <q-card flat bordered square class="my-card">
      <q-card-section class="bg-white text-primary a-py-xs">
        <div class="row text-caption text-bold">
          <div class="col-2 flex flex-center">
            <q-avatar size="50px" >
              <img :src="data.img" alt="">
            </q-avatar>
          </div>
          <div class="col-7">

            <div class="row">

              <div v-if="data.name" class="">{{data.name}}</div>
              <div v-if="data.lecturer" class="">{{data.lecturer}}</div>
              <q-space />
              <div v-if="data.tries" class="text-right">{{data.tries}}</div>
              <div v-if="data.date" class="text-right">{{data.date}}</div>
            </div>
            <div class="row">
              <div class="">{{data.class}}</div>
              <q-space />
              <div class="text-right">{{data.subject}} </div>
            </div>
          </div>
          <div class="col-3 flex flex-center">
            <q-btn v-if="data.showing" @click="data.showing = true" color="grey" round flat dense no-caps label="Grade" :icon-right="data.showing ? 'keyboard_arrow_up' : 'keyboard_arrow_down'">
              <q-menu v-model="data.showing"  >
                <q-list style="min-width: 150px">
                  <q-item clickable v-close-popup v-for="(item, index) in percentage" :key="index">
                    <q-item-section>
                      <q-item-label>{{item}}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <div v-if="data.grade" class="text-h4">{{data.grade}}</div>
            <q-btn v-if="data.unanswered" no-caps color="primary" text-color="secondary" label="Solve" @click="alert = true" />
          </div>
        </div>

      </q-card-section>
      <q-card-section class="row" v-if="route == 'classroom'">
        <div>Assignment Question</div>


        <q-space />
        <q-btn
        :icon="data.visible ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        @click="data.visible = !data.visible"
        color="grey" round flat dense />
      </q-card-section>
      <q-slide-transition>
          <div v-show="data.visible">
            <q-separator />
            <q-card-section class="text-caption">
              {{ data.Question }}
            </q-card-section>
          </div>
        </q-slide-transition>
    </q-card>

    <q-dialog v-model="alert" v-if="route == 'classroom'">
      <q-card>
        <q-card-section>
        <div class="text-h6">Answer Assignment</div>
        </q-card-section>
        <q-card-section>
          <q-input class="col-8" dense square outlined autogrow v-model="data.val" label="Answer" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn outline size="sm" no-caps label="Answer" text-color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>


  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['data'],
  data () {
    return {
      alert:false,
      showing: false,
      percentage : [
        '25%',
        '50%',
        '65%',
        '70%',
        '75%',
        '80%',
        '85%',
        '90%',
        '95%',
        '100%',
      ],
    }
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    route(){return this.$route.name}
  }
}
</script>
