<template>
  <div>
    <q-list bordered separator>

      <q-item>
        <q-item-section top avatar>
          <q-avatar size="50px" >
              <img :src="data.img" alt="">
            </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label>{{data.topic}}</q-item-label>
          <q-item-label caption lines="2">{{data.time}}</q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-icon v-if="data.view == true" name="check_circle" color="green" />
          <q-icon v-if="data.view == false" name="check_circle_outline" color="primary" />
        </q-item-section>
      </q-item>
    </q-list>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName'
  props:['data'],
  data () {
    return {}
  }
}
</script>
