<template>
  <div>
    <q-toolbar class="bg-secondary text-primary">
      <q-toolbar-title>
        <div>Mathemathics</div>
        <div class="text-caption">Mr James John</div>
      </q-toolbar-title>
      <div>JSS1</div>
    </q-toolbar>
    <q-card square bordered class="row gt-sm">
      <div class="col-md-8 col-sm-8">
        <q-carousel v-model="slide" >
          <q-carousel-slide :name="1" img-src="statics/agric.jpg" />
          <!-- <q-carousel-slide v-if="data.video" name="soft-jazz">
            <q-video
              class="absolute-full"
              src="https://www.youtube.com/embed/k3_tw44QsZQ"
            />
          </q-carousel-slide> -->
        </q-carousel>

        <q-tabs v-model="tab" class="text-secondary bg-primary">
          <q-tab name="overview" label="overview" />
          <q-tab name="q_and_a" label="Q & A" />
          <q-tab name="note" label="note" />
          <q-tab name="assignment" label="Assignment" />
        </q-tabs>

        <q-tab-panels v-model="tab" animated class="shadow-2 rounded-borders">
          <q-tab-panel name="overview">
          <div class="text-h6">overview</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </q-tab-panel>
          <q-tab-panel name="q_and_a">
          <div class="text-h6">q&a</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </q-tab-panel>
          <q-tab-panel name="note">
          <div class="text-h6">note</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </q-tab-panel>
          <q-tab-panel name="assignment">
            <q-toolbar class="bg-secondary text-primary">
              <q-toolbar-title>
                Assignment
              </q-toolbar-title>
            </q-toolbar>
            <div v-for="(item, index) in dataAss" :key="index">
              <Result :data="item" />
            </div>
          </q-tab-panel>
        </q-tab-panels>

      </div>

      <q-card-section class="col-md-4 col-sm-4">
        <q-btn class="q-ma-xs" outline no-caps size="sm" color="primary" text-color="black" label="Write Test" @click="$router.push({name: 'writeCbt'})" />
        <div v-for="(item, index) in dataVids" :key="index">
          <VCard :data="item" />
        </div>
      </q-card-section>
    </q-card>

    <!-- Mobile -->
    <div class="lt-md">
      <q-tabs v-model="panel" class="text-secondary bg-primary ">
        <q-tab name="lect" label="Lectures" />
        <q-tab name="study" label="Study" />
      </q-tabs>
      <q-tab-panels v-model="panel" animated>
        <q-tab-panel name="lect">
          <q-carousel v-model="slide" >
            <q-carousel-slide :name="1" img-src="statics/agric.jpg" />
            <!-- <q-carousel-slide v-if="data.video" name="soft-jazz">
              <q-video
                class="absolute-full"
                src="https://www.youtube.com/embed/k3_tw44QsZQ"
              />
            </q-carousel-slide> -->
          </q-carousel>
          <div v-for="(item, index) in dataVids" :key="index">
            <VCard :data="item" />
          </div>
        </q-tab-panel>
        <q-tab-panel name="study">
          <q-tabs v-model="tab" class="text-secondary bg-primary">
            <q-tab name="overview" label="overview" />
            <q-tab name="q_and_a" label="Q & A" />
            <q-tab name="note" label="note" />
            <q-tab name="assignment" label="Assignment" />
          </q-tabs>

          <q-tab-panels v-model="tab" animated class="shadow-2 rounded-borders">
            <q-tab-panel name="overview">
            <div class="text-h6">overview</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>
            <q-tab-panel name="q_and_a">
            <div class="text-h6">q&a</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>
            <q-tab-panel name="note">
            <div class="text-h6">note</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>
            <q-tab-panel name="assignment">
              <q-toolbar class="bg-secondary text-primary">
                <q-toolbar-title>
                  Assignment
                </q-toolbar-title>
              </q-toolbar>
              <div v-for="(item, index) in dataAss" :key="index">
                <Result :data="item" />
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-tab-panel>
      </q-tab-panels>
    </div>


  </div>
</template>

<script>
import Result from 'components/cards/test_result'
import VCard from 'components/cards/video_card'
export default {
  // name: 'ComponentName',
  components:{
    Result, VCard
  },
  data () {
    return {
      slide:1,
      tab:'assignment',
      panel:'lect',
      dataAss:[
        {
          img: 'statics/avatar2a.jpg',
          lecturer: 'John Doe',
          class: 'JSS1',
          subject: 'Mathematics',
          visible: false,
          Question: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
          unanswered:true
        },
        {img: 'statics/avatar2a.jpg',
          lecturer: 'John Doe',
          class: 'JSS1',
          subject: 'Mathematics',
          visible: false,
          Question: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
          unanswered:true
        },
        {
          img: 'statics/avatar2a.jpg',
          lecturer: 'John Doe',
          class: 'JSS1',
          subject: 'Mathematics',
          visible: false,
          Question: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
          unanswered:true
        },
        {img: 'statics/avatar2a.jpg',
          lecturer: 'John Doe',
          class: 'JSS1',
          subject: 'Mathematics',
          visible: false,
          Question: 'not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option',
          unanswered:true
        }
      ],
      dataVids:[
        {
          img: 'statics/avatar2a.jpg',
          topic: 'Introduction to Indices',
          time: '30min',
          view: true,
        },
        {
          img: 'statics/avatar2a.jpg',
          topic: 'Introduction to Indices',
          time: '30min',
          view: true,
        },
        {
          img: 'statics/avatar2a.jpg',
          topic: 'Introduction to Indices',
          time: '30min',
          view: true,
        },
        {
          img: 'statics/avatar2a.jpg',
          topic: 'Introduction to Indices',
          time: '30min',
          view: false,
        },
        {
          img: 'statics/avatar2a.jpg',
          topic: 'Introduction to Indices',
          time: '30min',
          view: false,
        },
        {
          img: 'statics/avatar2a.jpg',
          topic: 'Introduction to Indices',
          time: '30min',
          view: false,
        },
      ]
    }
  }
}
</script>
