<template>
  <q-page padding class="flex flex-center" style="background: #f1f3f4">
     <Login v-if="route == 'login'"/>
    <Register v-if="route == 'register'"/>
    <RegisterTeacher v-if="route == 'registerTeacher'"/>
    <Forgot v-if="route == 'forget'"/>
  </q-page>
</template>

<script>
import Login from '../components/Auth/login'
import Register from '../components/Auth/register'
import Forgot from '../components/Auth/forgot'
import RegisterTeacher from '../components/Auth/registerTeacher'
export default {
  // name: 'PageName',
  components:{
    Login, Register, Forgot, RegisterTeacher
  },
  data () {
    return {}
  },
  computed: {
    route(){return this.$route.name}
  }
}
</script>
