<template>
  <q-page style="background: #b7b7b7;">
    <!-- content -->
    <Course/>
  </q-page>
</template>

<script>
import Course from 'components/courses/index'
export default {
  // name: 'PageName',
  components:{
    Course
  }
}
</script>
