<template>
  <q-page style="background: #b7b7b7;">
    <!-- <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    > -->
    <Home />
  </q-page>
</template>

<script>
import Home from 'components/home/index'
export default {
  name: 'PageIndex',
  components:{
    Home
  }
}
</script>
