<template>
  <q-page style="background: #b7b7b7;">
    <!-- content -->
    <Test/>
  </q-page>
</template>

<script>
import Test from 'components/test/index'
export default {
  // name: 'PageName',
  components:{
    Test
  }
}
</script>
