<template>
  <div>
    <Top />
    <Tabs />
    <Action :data="teach" />
    <q-toolbar class="bg-secondary text-primary">
      <q-toolbar-title>
        Instructors
      </q-toolbar-title>
    </q-toolbar>
    <q-tab-panels v-model="tab" animated class="bg-transparent">
      <q-tab-panel name="science">
        <div class="row no-wrap">
          <div v-for="(item, index) in instructor" :key="index" class="q-pa-xs">
            <Instructor class="flex justify-center"  :data="item"/>
          </div>
        </div>
      </q-tab-panel>
    </q-tab-panels>
    <!-- <Action :data="learn" /> -->
    <ActionVideo/>
    <Footer />
    <!-- <Instructor :data="instructor" /> -->
  </div>
</template>

<script>
import Top from './partials/top'
import Tabs from './partials/tabs'
import Action from 'components/cards/call_to_action'
import Instructor from 'components/cards/instructor_cards'
import ActionVideo from 'components/cards/call_to_action_video'
import Footer from './partials/footer'
export default {
  // name: 'ComponentName',
  components:{
    Top, Tabs, Action, Instructor, ActionVideo, Footer
  },
  data () {
    return {
      tab: 'science',
      // learn:{
      //   img:'statics/avatar3.jpg',
      //   title: 'Let’s start Learning',
      //   label: 'Start Learning'
      // },
      teach:{
        img:'statics/teach.jpg',
        title: 'Start Teaching Today',
        description:'Create an online video course, reach students across the globe, and earn money ',
        label: 'Teach Today',
        link: 'registerTeacher'
      },
      instructor:[
        {
          img:'statics/avatar1.jpg',
          name:'James Doe',
          status:'10years NECO Script Marker',
          courses: '12',
          students:'2,000',
          rating:4,
        },
        {
          img:'statics/avatar2a.jpg',
          name:'Joe Doe',
          status:'10years NECO Script Marker',
          courses: '12',
          students:'2,000',
          rating:4,
        },
        {
          img:'statics/avatar3a.jpg',
          name:'John Doe',
          status:'10years WAEC Script Marker',
          courses: '12',
          students:'2,000',
          rating:4,
        },
        {
          img:'statics/avatar1.jpg',
          name:'James Doe',
          status:'10years NECO Script Marker',
          courses: '12',
          students:'2,000',
          rating:4,
        },
        {
          img:'statics/avatar2a.jpg',
          name:'Joe Doe',
          status:'10years NECO Script Marker',
          courses: '12',
          students:'2,000',
          rating:4,
        },
        {
          img:'statics/avatar3a.jpg',
          name:'John Doe',
          status:'10years WAEC Script Marker',
          courses: '12',
          students:'2,000',
          rating:4,
        }
      ]
    }
  }
}
</script>
