<template>
  <div>
    <!-- <Top /> -->
    <div class="q-px-xs">
      <Classroom v-if="route=='classroom'" />
      <List v-if="route=='list'" />
      <!-- <Result v-if="route=='resultCbt'" /> -->
    </div>

  </div>
</template>

<script>
// import Top from './partials/top'
import Classroom from './partials/classroom'
import List from './partials/list'
// import Result from './partials/cbt_result'
export default {
  // name: 'ComponentName',
  components:{
    Classroom, List,
    // Result, Top
  },
  data () {
    return {}
  },
  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    route(){return this.$route.name}
  }
}
</script>
