// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

// Font Variables
$Pacifico: 'Pacifico', cursive;

.theheader {  font-family: $Pacifico;}
