<template>
  <div>
    <q-card class="bg-primary text-secondary text-center">
      <q-card-section>
        <div>Copyright @2020</div>
        <div class="theheader">built by Sida</div>
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
