<template>
  <div>
    <q-tabs
        v-model="tab"
        align="justify"
        class="q-mb-lg bg-secondary"
        active-bg-color="primary"
        active-color="secondary"

      >
        <q-tab class="text-primary" name="science" label="Sciences" />
        <q-tab class="text-primary" name="arts" label="Arts" />
        <q-tab class="text-primary" name="commerce" label="Commerce" />
        <q-tab class="text-primary" name="technical" label="Technical" />
      </q-tabs>
     <q-tab-panels v-model="tab" animated class="bg-transparent">
      <q-tab-panel name="science">
       <div class="row no-wrap">
         <div v-for="(item, index) in Lessons" :key="index" class="q-px-sm">
           <Course class="flex justify-center"  :data="item"/>
         </div>

        </div>

      </q-tab-panel>

      <q-tab-panel name="arts">
        <div class="row no-wrap">
          <div v-for="(item, index) in Lessons" :key="index" class="q-px-sm">
           <Course class="flex justify-center"  :data="item"/>
         </div>
        </div>
      </q-tab-panel>

      <q-tab-panel name="commerce">
        <div class="row no-wrap">
          <div v-for="(item, index) in Lessons" :key="index" class="q-px-sm">
           <Course class="flex justify-center"  :data="item"/>
         </div>
        </div>
      </q-tab-panel>

      <q-tab-panel name="technical">
        <div class="row no-wrap">
          <div v-for="(item, index) in Lessons" :key="index" class="q-px-sm">
           <Course class="flex justify-center"  :data="item"/>
         </div>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import Course from 'components/cards/course_cards'
export default {
  // name: 'ComponentName of The Course',
  components:{
    Course
  },
  data () {
    return {
      tab: 'science',
      Lessons:[
        {
          title: 'Name of The Course',
          class: 'JSS 1',
          Subject: 'Maths',
          rating: 4,
          tutorAvatar: '',
          tutorName: 'John Doe',
          courseImg:'statics/maths.jpg',
          description:{
            intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
            topics: '20',
            lastUpdated: '20th Dec, 2019',
          },
          expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'English',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/english.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Chemistry',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/chemistry.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Biology',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/biology.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Physics',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/physics.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Agric',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/agric.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Commerce',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/commerce.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },
        {
          title: 'Name of The Course',
        class: 'JSS 1',
        Subject: 'Maths',
        rating: 4,
        tutorAvatar: '',
        tutorName: 'John Doe',
        courseImg:'statics/maths.jpg',
        description:{
          intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            topicList: [
              'topic 1', 'topic 2', 'topic 3', 'topic 4', 'topic 5', 'topic 6',
            ],
            hours: '30hrs',
          topics: '20',
          lastUpdated: '20th Dec, 2019',
        },
        expanded: false
        },

      ]
    }
  },

}
</script>
