<template>
  <div>
     <q-carousel
      animated
      v-model="slide"
    >
      <q-carousel-slide :name="1" img-src="statics/uedu.jpg" >
        <div class="absolute-full text-secondary flex items-center" style="background: rgba(0,0,0,0.8)">
          <div class="q-pa-md text-weight-thin">
            <div class="text-h2 ">
              Welcome to Uedu
            </div>
            <div :class="($q.screen.lt.md ?'text-subtitle2 ': 'text-subtitle1 ')+'text-weight-light text-white q-py-md'" style="max-width: 800px">

              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to
            </div>
            <div class="q-py-md">
              <q-btn @click="$router.push({name: 'login'})" no-caps size="sm" class="q-mx-xs lt-md" color="secondary" outline label="Login" />
              <q-btn @click="$router.push({name: 'register'})" no-caps size="sm" class="q-mx-xs lt-md" color="secondary" text-color="primary" label="SignUp" />
            </div>

          </div>

        </div>
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      slide: 1
    }
  }
}
</script>
