<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="text-secondary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
          class="lt-md"
        />

        <q-toolbar-title class="text-bold theheader" @click="$router.push('/')">
          Uedu
        </q-toolbar-title>
        <q-btn @click="$router.push({name: 'registerTeacher'})" flat no-caps size="sm" class="q-mx-xs" color="secondary" outline label="Teach for U-Edu" />
        <div v-if="iflogin == false">
          <q-btn @click="$router.push({name: 'login'})" no-caps size="sm" class="q-mx-xs gt-sm" color="secondary" outline label="Login" />
          <q-btn @click="$router.push({name: 'register'})" no-caps size="sm" class="q-mx-xs gt-sm" color="secondary" text-color="primary" label="SignUp" />
        </div>
        <div v-if="iflogin == true" class="q-gutter-xs">
          <q-btn flat no-caps size="sm" color="secondary" label="My Courses"  />
          <q-btn flat round size="sm" color="secondary" icon="notifications" :to="{name: 'notification'}" />
          <!-- <q-btn flat round size="sm" color="secondary" icon="settings"  /> -->
          <q-btn flat round size="sm" color="secondary" icon="ion-cart" />
          <q-avatar size="40px" @mouseover="showing = true" @mouseleave="showing = false" >
            <img :src="'statics/avatar1.jpg'" alt="">
            <q-menu v-model="showing"  @mouseover="showing = true" @mouseleave="showing = false">
              <q-list style="min-width: 150px">
                <q-item clickable v-close-popup>
                  <q-item-section avatar>
                    <q-avatar size="40px" >
                      <img :src="'statics/avatar1.jpg'" alt="">
                    </q-avatar>
                  </q-item-section>
                  <q-separator />
                  <q-item-section>
                    <q-item-label>John Doe</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable v-close-popup :to="{name: 'settings'}">
                  <q-item-section>Account</q-item-section>
                </q-item>
                <q-separator />
                <q-item clickable v-close-popup>
                  <q-item-section>Assigment</q-item-section>
                </q-item>
                <q-item clickable v-close-popup :to="{name: 'home'}" @click="logout">
                  <q-item-section>Logout</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-avatar>
        </div>


      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      dark
      content-class="bg-primary text-secondary"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      showing: false,
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'CBT Test',
          icon: 'school',
          link: 'setCbt'
        },
        {
          title: 'Assignment',
          icon: 'code',
          link: 'test'
        },
        {
          title: 'Course',
          icon: 'code',
          link: 'test'
        },
        {
          title: 'Profile',
          icon: 'code',
          link: 'test'
        },
      ]
    }
  },

  computed: {
    iflogin(){ return this.$store.getters["auth/iflogin"] },
    ifteacher(){ return this.$store.getters["auth/ifteacher"] },
    route(){return this.$route.name}
  }
}
</script>

