<template>
  <div>
    <q-card class="my-card" style="min-width:300px">
      <q-card-section class="text-primary text-h4">
        <div>Become an Instructor</div>
      </q-card-section>
      <q-card-section class="q-gutter-y-xs">
        <div class="row">
          <div class="q-pa-xs col-md-6 col-sm-12 col-xs-12"><q-select class="" :options="subject" outlined v-model="form.subject" label="Subject" /></div>
          <div class="q-pa-xs col-md-6 col-sm-12 col-xs-12"><q-select class="" :options="classes" outlined v-model="form.class" label="Class" /></div>
        </div>
        <!-- <div class="q-px-xs"><q-input outlined v-model="form.email" label="email" /></div>
        <div class="row">
          <div class="q-pa-xs col-md-6 col-sm-12 col-xs-12"><q-input class="" type="password" outlined v-model="form.password" label="password"/></div>
          <div class="q-pa-xs col-md-6 col-sm-12 col-xs-12"><q-input class="" type="password" outlined v-model="form.password_confirmation" label="Confirm Password"/></div>
        </div> -->
      </q-card-section>
      <q-card-actions align="center">
        <q-btn
          no-caps
          color="primary"
          text-color="secondary"
          label="Register"
          class="full-width"
          @click="signup"
        />
      </q-card-actions>
      <q-card-actions align="center">
        <q-btn
          color="primary"
          no-caps
          :to="{ name: 'login' }"
          flat
          label="Login"
        />
        <!-- <q-btn
          color="primary"
          no-caps
          :to="{ name: 'forget' }"
          flat
          label="Forgot Password ?"
        /> -->
         <q-btn
          color="primary"
          no-caps
          :to="{ name: 'register' }"
          flat
          label="Sign Up"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      subject:[
        'Maths',
        'English',
        'Economics',
        'Biology'
      ],
      classes:[
        'JSS1',
        'JSS2',
        'JSS3',
        'SS1',
        'SS2',
        'SS3'
      ],
      form: {
        name: "",
        phone: "",
        email: "",
        password: "",
        password_confirmation: ""
      }
    };
  },

  methods: {
    async signup() {
      const response = this.$axios.post(process.env.Api + "signup", this.form);
      const data = response.data;
      this.$q.localStorage.set("icare-token", data.access_token);
      this.$router.push({ name: "prescription" });
    }
  }
};
</script>
